.map-container {
  top: 0;
  margin: 20px;
  right: 0;
  overflow: hidden;
  min-height: 600px;
}

@media screen and (max-width: 768px) {
  .map-container {
    display: none;
  }
}

.marker {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}
